@import './styles/variables.scss';

.content {
  padding: 2em;
  font-weight: bold;
 
}

// table styles
.div-table {
  display: table;
}

.div-row {
  display: inline-block;
  &.header {
    font-weight: bold;
  }
}

.div-cell {
  display: table-cell;
  padding: 0.5em;
  
}

// form styles

// Desktop style
.form {
  width: 50%;
}

button {
  margin-right: 8px;
  position: relative;
  left: 42%; 
  
}

.field {
  margin-bottom: 16px;
}

.form-input {
  margin-bottom: 16px;
  
 }

label {
  margin-bottom: 4px;
  display: block;
}

input, textarea, select{
  width: 50%;
}

// Mobile style

@media (max-width: 768px) {
  .form {
    width: 100%;
  }
}

button {
  margin-right: 8px;
  display: inline-block;
  justify-content: auto;
  align-items: auto;
  
}

.field {
  margin-bottom: 16px;
}

.form-input {
  margin-bottom: 16px;
  
 }

label {
  margin-bottom: 4px;
  display: block;
}

input, textarea, select{
  width: 50%;
}




